<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">    
          {% stylesheets
                    'bower_components/fontawesome/css/font-awesome.min.css'
                    'bower_components/bootstrap/dist/css/bootstrap.min.css' 
                    'bower_components/bootstrap/dist/css/bootstrap.css'
                    'css/mvpready-admin.css'
                    'css/custom.css'
                    'css/timeline.css' output='style/compiled/'%}
        <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        <style>
            A.applink:hover {border: 2px dotted #DCE6F4;padding:2px;background-color:#ffff00;color:green;text-decoration:none}
            A.applink       {border: 2px dotted #DCE6F4;padding:2px;color:#2F5BFF;background:transparent;text-decoration:none}
            A.info          {color:#2F5BFF;background:transparent;text-decoration:none}
            A.info:hover    {color:green;background:transparent;text-decoration:underline}
        </style>
        {% endblock %}
    </head>
    <body class="account-bg">
    {% block body %}{% endblock %}
    {% block javascripts %}
        {% javascripts 
            'bower_components/jquery/dist/jquery.js'
            'bower_components/bootstrap/dist/js/bootstrap.min.js'
            'bower_components/slimscroll/jquery.slimscroll.min.js'
            'bower_components/flot/excanvas.min.js'
            'bower_components/flot/jquery.flot.js'
            'bower_components/flot/jquery.flot.pie.js'
            'bower_components/flot/jquery.flot.resize.js'
            'bower_components/flot/jquery.flot.time.js'
            'bower_components/flot.tooltip/js/jquery.flot.tooltip.js'
            'js/mvpready-admin.js' output='style/compiled.js'
        %}
        <script src="{{ asset_url }}"></script>
        <script>
$(function	()	{			
			function trait_filter_select() {
			  var articleValues = $( "#choix_article" ).val();
			  $('#div_hidden_1').show();$('#div_hidden_2').show();
			  if (articleValues.substring(0, 2) == '01' || articleValues.substring(0, 2) == '02' || articleValues.substring(0, 2) == '03') {
			    $('#choix_paragraphe').prop('disabled', 'disabled');
				$('#choix_region').prop('disabled', 'disabled');
				$('#sous_paragraphe').prop('disabled', false);
				$('#div_paragraphe').hide();
				$('#div_region').hide();
				$('#div_sous_paragraphe').show();
			  }else {
				$('#div_hidden_1').hide();
				$('#choix_paragraphe').prop('disabled', false);
				$('#choix_region').prop('disabled', false);
				$('#sous_paragraphe').prop('disabled', 'disabled');
				$('#div_paragraphe').show();
				$('#div_region').show();
				$('#div_sous_paragraphe').hide();
			  }			  
			}
			 
			$("select").change(trait_filter_select);
			trait_filter_select();
			
			
			// methode de payement
			var check_methode_payement_autre = $('#autre_financement');
			var checkMethodePayementAutreValue = check_methode_payement_autre.filter(':checked').val();
			if (!checkMethodePayementAutreValue) {
				$("#valeur_autre_financement").val('');
				$('#valeur_autre_financement').attr('data-parsley-required', 'false');
				$("#payement_autre").hide();
			}else {
				$("#payement_autre").show();
				$('#valeur_autre_financement').attr('data-parsley-required', 'true');
			}	
			
			
			$('input#autre_financement').change(function() {
				var check_methode_payement_autre = $('#autre_financement');
				var checkMethodePayementAutreValue = check_methode_payement_autre.filter(':checked').val();
				if (checkMethodePayementAutreValue) {
					$("#payement_autre").show();
					$('#valeur_autre_financement').attr('data-parsley-required', 'true');
					$('#valeur_autre_financement').attr('enabled', 'true');
				}else {
					$("#valeur_autre_financement").val('');
					$('#valeur_autre_financement').attr('data-parsley-required', 'false');
					$("#payement_autre").hide();
				}
			});
			
			// cadre de planification des marché			
			var check_marche = $('#radio_cadre_marche').filter(':checked').val();
			if (!check_marche) {
				$("#numero_marche").val('');
				$('#numero_marche').attr('data-parsley-required', 'false');
				$("#cadre_marche").hide();
			}else {
				$("#cadre_marche").show();
				$('#numero_marche').attr('data-parsley-required', 'true');
			}

			$('input#radio_cadre_marche').change(function() {
				check_marche = $('#radio_cadre_marche').filter(':checked').val();
				if (check_marche) {
					$("#cadre_marche").show();
					$('#numero_marche').attr('data-parsley-required', 'true');
					$('#numero_marche').attr('enabled', 'true');
				}else {
					$("#numero_marche").val('');
					$('#numero_marche').attr('data-parsley-required', 'false');
					$("#cadre_marche").hide();
				}
			});
			
			// cadre de planification hors marche
			check_marche = $('#radio_cadre_horsmarche').filter(':checked').val();
			if (!check_marche) {
				$("#numero_horsmarche").val('');
				$('#numero_horsmarche').attr('data-parsley-required', 'false');
				$("#cadre_horsmarche").hide();
			}else {
				$("#cadre_horsmarche").show();
				$('#numero_horsmarche').attr('data-parsley-required', 'true');
			}
			
			$('input#radio_cadre_horsmarche').change(function() {
				check_marche = $('#radio_cadre_horsmarche').filter(':checked').val();
				if (check_marche) {
					$("#cadre_horsmarche").show();
					$('#numero_horsmarche').attr('data-parsley-required', 'true');
					$('#numero_horsmarche').attr('enabled', 'true');
				}else {
					$("#numero_horsmarche").val('');
					$('#numero_horsmarche').attr('data-parsley-required', 'false');
					$("#cadre_horsmarche").hide();
				}
			});
			
			// cadre de planification hors marche
			check_marche = $('#radio_cadre_autremarche').filter(':checked').val();
			if (!check_marche) {
				$("#autre_que_marche").val('');
				$('#autre_que_marche').attr('data-parsley-required', 'false');
				$("#cadre_autre_marche").hide();
			}else {
				$("#cadre_autre_marche").show();
				$('#autre_que_marche').attr('data-parsley-required', 'true');
			}
			
			$('input#radio_cadre_autremarche').change(function() {
				check_marche = $('#radio_cadre_autremarche').filter(':checked').val();
				if (check_marche) {
					$("#cadre_autre_marche").show();
					$('#autre_que_marche').attr('data-parsley-required', 'true');
					$('#autre_que_marche').attr('enabled', 'true');
				}else {
					$("#autre_que_marche").val('');
					$('#autre_que_marche').attr('data-parsley-required', 'false');
					$("#cadre_autre_marche").hide();
				}
			});
		});	
</script>
        {% endjavascripts %}

{#        <!-- App JS -->
        <script src="../../global/js/mvpready-core.js"></script>
        <script src="../../global/js/mvpready-helpers.js"></script>


        <!-- Demo JS -->
        <script src="../../global/js/demos/flot/line.js"></script>
        <script src="../../global/js/demos/flot/pie.js"></script>
        <script src="../../global/js/demos/flot/auto.js"></script>#}
    {% endblock %}
    </body>
</html>
