<li class="dropdown ">

    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">

        Components
        <i class="mainnav-caret"></i>					
    </a>

    <ul class="dropdown-menu" role="menu">

        <li>
            <a href="components-tabs.html">
                <i class="fa fa-bars dropdown-icon "></i> 
                Tabs &amp; Accordions
            </a>
        </li>

        <li>
            <a href="components-popups.html">
                <i class="fa fa-calendar-o dropdown-icon "></i> 
                Popups &amp; Alerts
            </a>
        </li>

        <li>
            <a href="form-plugins.html">
                <i class="fa fa-plug dropdown-icon "></i> 
                Forms Plugins
            </a>
        </li>

        <li>
            <a href="components-datatables.html">
                <i class="fa fa-table dropdown-icon "></i> 
                Data Tables
            </a>
        </li>

        <li>
            <a href="components-charts.html">
                <i class="fa fa-bar-chart-o dropdown-icon "></i> 
                Charts
            </a>
        </li>		  
    </ul>
</li>