{% extends "::base.html.twig" %}

{% block body %}
{% include "::header.html.twig" %}
 <br class="xs-80">

  <div class="account-wrapper account-bg">

    <div class="account-body">

      <h3>Get Started with a Free Account.</h3>
{% include "OCUserBundle:Registration:register_content.html.twig" %}
</div> <!-- /.account-body -->

    <div class="account-footer">
      <p>
      Already have an account? &nbsp;
      <a href="{{path('fos_user_security_login')}}" class="">Login to your Account!</a>
      </p>
    </div> <!-- /.account-footer -->

  </div> <!-- /.account-wrapper -->

{% endblock%}
