{% extends '::base.html.twig' %}

{% block body -%}
<div id="wrapper">

    <header class="navbar" role="banner">

    <div class="container">
     <nav class="collapse navbar-collapse" role="navigation">
			<div class="navbar-header navbar-title">
					البرمجة السنويّة للنفقات
			</div>
			
			<div class="navbar-header navbar-title">
				PAD&nbsp;&nbsp;&nbsp;<sup>V<sup>1.0<sup></sup>
			</div>
			{% include "::toolbar.html.twig" %}
		</nav>
	</div> <!-- /.container -->
  </header>
{% include "::menu_header.html.twig" %}
    <h1>Contrat creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('contrat') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
